* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}
header h1 {
  color: #AAA;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
header h1 strong {
  color: #313131;
}

.content-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.content-wrap h2 {
  margin-top: 10rem;
}
.content-wrap .popular-anime-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content-wrap .popular-anime-container .popular-anime-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  margin: 10px;
}
.content-wrap .popular-anime-container .popular-anime-card img {
  display: block;
  width: 17rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}
.content-wrap .popular-anime-container .popular-anime-card h3 {
  font-size: 18px;
  margin: 10px 0;
  flex-grow: 1;
}
.content-wrap .popular-anime-container .popular-anime-card a {
  margin-top: auto;
  padding: 10px 16px;
  color: #313131;
  border-radius: 5px;
  text-decoration: none;
}
.content-wrap .popular-anime-container .popular-anime-card img:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  color: #888;
}
.content-wrap aside {
  flex: 1 1 250px;
  max-width: 250px;
  padding-right: 16px;
}
.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}
.content-wrap aside nav h3 {
  color: #313131;
  font-size: 24px;
  margin-bottom: 16px;
  justify-content: center;
  text-align: center;
}
.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  color: #888;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.4s;
}
.content-wrap aside nav a .image-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}
.content-wrap aside nav a .image-top img:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  color: #888;
}
.content-wrap main {
  flex: 1 1 0%;
  padding: 0px 16px;
  height: 50px;
}
.content-wrap main .main-head {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 20px;
}
.content-wrap main .main-head .search-box {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
}
.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  display: block;
  width: 390px;
  height: 38px;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #EEE;
  transition: 0.4s;
}
.content-wrap main .main-head .search-box input ::-moz-placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input ::placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
  background-color: #313131;
  color: #FFF;
}
.content-wrap main .anime-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.content-wrap main .anime-list .anime-card {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 16px 8px;
}
.content-wrap main .anime-list .anime-card a {
  text-decoration: none;
}
.content-wrap main .anime-list .anime-card figure {
  display: block;
  margin-bottom: 16px;
}
.content-wrap main .anime-list .anime-card figure img {
  display: block;
  width: 23.5rem;
  height: 35rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.content-wrap main .anime-list .anime-card h3 {
  color: #313131;
}
.content-wrap main .anime-list .anime-card:hover figure img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}/*# sourceMappingURL=main.css.map */